<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="warning"/>
    
    <module name="TreeWalker">
        <!-- Nombres -->
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="ConstantName"/>
        <module name="LocalVariableName"/>
        <module name="ParameterName"/>
        
        <!-- Tamaño -->
        <module name="MethodLength">
            <property name="max" value="30"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="5"/>
        </module>
        
        <!-- Espacios en blanco -->
        <module name="WhitespaceAround"/>
        <module name="WhitespaceAfter"/>
        
        <!-- Imports -->
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        
        <!-- Complejidad -->
        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
        </module>
        
        <!-- Modificadores -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        
        <!-- Llaves -->
        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
    </module>
    
    <!-- Longitud de línea -->
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>
</module>